/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #555;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    height: 100vh;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.right {
    float: right;
}

/* Top Section */
.top {
    height: 40vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url(assets/back.png);
    background-size: cover;
    background-position: center;
    position: relative;
}

.budget {
    position: absolute;
    width: 350px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
}

.budget__title {
    font-size: 18px;
    text-align: center;
    margin-bottom: 10px;
}

.budget__value {
    font-size: 46px;
    text-align: center;
    margin-bottom: 25px;
}

.budget__income, .budget__expenses {
    padding: 12px;
    text-transform: uppercase;
}

.budget__income {
    background-color: #28B9B5;
    margin-bottom: 10px;
}

.budget__expenses {
    background-color: #FF5049;
}

/* Bottom Section */
.add {
    padding: 14px;
    background-color: #f7f7f7;
    border-bottom: 1px solid #e7e7e7;
}

.add__type, .add__description, .add__value {
    border: 1px solid #e7e7e7;
    background-color: #fff;
    padding: 12px 15px;
    margin-right: 10px;
    border-radius: 5px;
    transition: border 0.3s;
}

.add__description {
    width: 400px;
}

.add__value {
    width: 100px;
}

.add__btn {
    font-size: 35px;
    background: none;
    border: none;
    color: #28B9B5;
    cursor: pointer;
}

.container {
    width: 1000px;
    margin: 60px auto;
}

.income, .expenses {
    float: left;
    width: 475px;
}

.item {
    padding: 13px;
    border-bottom: 1px solid #e7e7e7;
}

.item__description {
    float: left;
}

.item__value {
    float: left;
}

.item__delete--btn {
    font-size: 22px;
    background: none;
    border: none;
    cursor: pointer;
}
